*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.h1{
    color: white;
    font-style: $fontItalic;
    font-size: $textMd;
}   

.h2{
    color: $mainColor;
    font-size: $fontBold;
} 

.h3{
    color: $secondaryColor;
    font-weight: $fontMedium;
    font-size: $textMd;
    line-height: 24px;
    text-align: center;
}


.p{
    color: $secondaryColor;
    font-weight: $fontUltraL;
    font-size: $textMd;
    line-height: 1.5em;
}  

.header img{
    width: 100%;
    }
    
.label{
    color: $mainColor;
    font-style: italic;
} 


.textCenter{
   text-align: center;
} 

.fondoDestacadoO{
    background-color: $mainColor;
} 

.fondoDestacadoG{
    background-color: $keyColor;
} 

.fondoDestacadoB{
    background-color: $secondaryColor;
} 



.mi-div{
    background-color: $secondaryColor;
}
.maquinas {
    @include flexCenter(row,space-between, center);
    flex-wrap: wrap;
    background-color:$mainColor;
}

.contacto
{
    @include flexCenter(row,space-between, center);
    flex-wrap: wrap;
    background-color:$mainColor;
}