/* Box model*/

.contenedor1{
    background-color:$mainColor;
    height: auto;
    padding: 50px 50px;
    position: relative;
} 

h1{
    margin-bottom: 10px;
    padding: 40px;
    text-align: center;
    color: #ffffff;
    font-style: $fontItalic;
}

h2{
    margin-bottom: 10px;
    padding: 40px;
    text-align: center;
    color: black;
    font-style: $fontItalic;
}
/* flexbox */
.contenedor{
    width: 90%;
    height:auto;
    margin: 20px auto;
    padding: 10px 50px;
    overflow-y: auto;
}
.d-flex{
    @include flexCenter(row,space-between, center);
}


.contenedorNosotros
{
    background-color: #ffffff;
    height: auto;
    padding: 50px 50px;
    position: relative;
}
    .nosotros h4{
        text-align: center;
        font-style: $fontItalic;
        font-weight: $fontMedium;
    }

        .nosotros p{
            text-align: center;
            font-weight: $fontLight;
            color: $secondaryColor;
            margin: 60px 60px;
        }
    

.contenedorHeader{

    background-color: #ffffff;
    height: auto;
    padding: 50px 50px;
    position: relative;
   
}

label{
        color: #ffffff;
        font-style: $fontItalic;
        font-weight: $fontUltraL;
    }

    .contacto input{
        color: #ffffff;
        font-style: $fontItalic;
    }

  .ubicacion{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 566fr 1fr;
    gap: 5px;
    border: $mainColor 1px;
    grid-template-areas: 
    "actions actions actions" 
    "filters uno uno"
    "filters dos tres" 
    "filters dos cuatro";
  }

  .ubicacionSanjuan{
    @include flexCenter(row,center,center);
    background-color: $mainColor;
    ubicacion {
        display: flex;
        align-items: center;
        border: #EB601F 1px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }
}


