.filters{
    padding: 0 20px 30px 30px;
  }
  
    .filters a{
        color: rgb(155, 152, 153);
        font-size: 1.3em;
        text-decoration: none;
        margin-bottom: 4px;
        
    }
  
        .filters a:hover{
            color:#EB601F;
        }
  
    .filters span{
        display: block;
        color: #EB601F;
        margin: 20px 0;
        letter-spacing: 1px;
    }
  
    .filters select{
        color: #EB601F;
        border: none;
        background-color: rgb(255, 255, 255);
        margin-bottom: 10px;
        font-size: 1.4em;
    }
  
    .filters li{
        padding-left: 10px;
        list-style: none;
        margin-bottom: 12px;
        font-size: small;
        font-style: italic;
        
    }
.catalogo{
   display: grid;
   grid-template-columns:20% repeat(2,1fr);
   grid-template-rows: 80px repeat(3,250px);
   gap: 8px;
   grid-template-areas: 
   "actions actions actions" 
   "filters uno uno"
   "filters dos tres" 
   "filters dos cuatro";
   actions{
       background-color: #1D252C;
       padding: 0 28px;
       grid-area: actions;
   }
   filters{
       grid-area: filters;
   }
   prod1{
       grid-area: uno;
       @include flexCenter(row,space-between, center);
       background-color: #DDDDDD;
       p{
           width: 50%;
           margin-left: 50px;
       }
   }
   prod2{
       grid-area: dos;
       @include flexCenter(column,center, center);
       text-align: center;
       background-color:$mainColor;
   }

}
   prod3{
       grid-area: tres;
       @include flexCenter(row,space-between, center);
       background-color: #DDDDDD;
   }
   prod4{
       grid-area: cuatro;
       @include flexCenter(row,space-between, center);
       background: #EB601F;
   }
   section{
       border-radius: 3px;
   }

        

.productos {
    @include flexCenter(row,space-between, center);
    flex-wrap: wrap;
    background-color:$secondaryColor;
    
    figcaption {
        font-size: 1rem;
        text-align: center;
        margin-top: 10px;
        color: $keyColor;
     }
     img{
        display: block;
        max-width: 100%;
        height: auto;
        margin:  auto;
        padding: 5px;
     }
     figure{
        flex: 0 0 50%;
        margin-bottom: 20px;
     }
}
        
