/*/ responsive **/


@media (min-width: 768px) {
    .contenedor {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    nav {
      display: block;
      text-align: center;
      ul {
        display: none;
      }
      a {
        display: inline-block;
        margin-bottom: 10px;
        & :hover{
            background-color: $keyColor;
          }
      }
    }

  }
/* Estilos base */
body {
    
    font-size: $textMd;
  }
  
 