// variables globales


//colors
$mainColor:#EB601F;
$secondaryColor:#1D252C;
$keyColor:#DDDDDD;

//fonts
$mainFont:'Ubuntu', sans-serif;

// sizing
$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;

//font weight
$fontLight:300;
$fontBold:700;
$fontRegular:400;
$fontMedium:500;
$fontUltraL:100;

//font style
$fontItalic: italic;


